{% extends 'master.html' %}
{% load static %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% if event.image %}{{ event.image.url }}{% else %}{% static 'img/event1.jpg' %}{% endif %}" alt="{{ event.name }}" class="img-fluid rounded">
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">{{ event.name }}</h2>
            <p><strong>Ngày tổ chức:</strong> {{ event.start_time|date:"d/m/Y H:i" }}</p>
            <p>
                <strong>Trạng thái:</strong> 
                {% if event.is_ended %}
                    <span class="badge bg-secondary">Đã kết thúc</span>
                {% else %}
                    <span class="badge bg-success">Sắp diễn ra</span>
                {% endif %}
            </p>
            <p><strong>Giá vé:</strong> <span id="ticketPriceText">{{ event.price | floatformat:"0" }}</span></p>
            <div class="mb-4">
                {% if not event.is_ended %}
                  {% if user.is_authenticated %}
                      {% if out_of_tickets %}
                          <button class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#outOfTicketsModal">Mua vé</button>
                      {% else %}
                          <a href="{% url 'buyticket' event.id %}" class="btn btn-success mt-2">Mua vé</a>
                      {% endif %}
                  {% else %}
                    <button class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#loginRequiredModal">Mua vé</button>
                  {% endif %}
                {% endif %}
            
                {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'event' event.id %}" class="btn btn-dark mt-2">Sửa</a>
                    {% if not event.is_ended %}
                        <a href="{% url 'addsponsor' event.id %}" class="btn btn-dark mt-2">Thêm nhà tài trợ</a>
                        <a href="{% url 'addguest' event.id %}" class="btn btn-dark mt-2">Thêm khách mời</a>
                        <a href="{% url 'checkticket' event.id %}" class="btn btn-dark mt-2">check vé</a>
                        <button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#confirmEndEventModal">Kết thúc</button>
                    {% endif %}
                      <a href="{% url 'report' event.id %}" class="btn btn-dark mt-2">Quản lý</a>
                      <button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteEventModal">Xóa</button>
                {% endif %}
                <script>
                    document.getElementById("rateEvent").onclick = function() {
                        var eventId = "{{ event.id }}";
                        var userEmail = "{{ user.email }}";
                        window.location.href = `/survey/${eventId}/?email=${userEmail}`;
                    };
                </script>
            </div>
            <div class="mt-3">
                <p>{{ event.description }}</p>
            </div>
        </div>
    </div>
</div>

<!--Modal End event-->
<div class="modal fade" id="confirmEndEventModal" tabindex="-1" aria-labelledby="confirmEndEventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmEndEventLabel">Xác nhận kết thúc sự kiện</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn kết thúc sự kiện này không? Hành động này không thể hoàn tác.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <form method="POST" action="{% url 'endevent' event.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark">Xác nhận</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal Login-->
<div class="modal fade" id="loginRequiredModal" tabindex="-1" aria-labelledby="loginRequiredModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="loginRequiredModalLabel">Yêu cầu đăng nhập</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Bạn cần đăng nhập để thực hiện hành động này. Vui lòng đăng nhập để tiếp tục.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <a href="{% url 'login' %}" class="btn btn-dark">Đăng nhập</a>
          </div>
      </div>
  </div>
</div>

<!--Modal Delete-->
<div class="modal fade" id="confirmDeleteEventModal" tabindex="-1" aria-labelledby="confirmDeleteEventLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteEventLabel">Xác nhận xóa sự kiện</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa sự kiện này không? Hành động này không thể hoàn tác.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <form method="POST" action="{% url 'deleteevent' event.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Xóa</button>
          </form>
        </div>
      </div>
    </div>
</div>

<!--Modal Out of ticket-->
<div class="modal fade" id="outOfTicketsModal" tabindex="-1" aria-labelledby="outOfTicketsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="outOfTicketsModalLabel">Thông báo hết vé</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Sự kiện này đã hết vé.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}