{% load static %}
<div class="intro-section d-flex align-items-center" id="infor" style="padding: 20px;">
    <div class="intro-image">
        <img src="{% static 'img/event3.jpg' %}" alt="Giới thiệu" class="img-fluid">
    </div>
    <div class="intro-text ms-4 " style="text-align: justify; padding: 20px;">
        <h2>Giới thiệu về EVENTHUB</h2>
        <p>EVENTHUB là nền tảng tổ chức sự kiện trực tuyến giúp bạn dễ dàng tạo, quản lý và quảng bá các sự kiện, hội thảo một cách hiệu quả. Với sự phát triển của công nghệ, việc tổ chức sự kiện trở nên đơn giản và tiện lợi hơn bao giờ hết.<br>
            Chúng tôi cung cấp nhiều tính năng tiện ích, từ việc tạo trang sự kiện, quản lý đăng ký tham gia, đến việc bán vé và thu thập phản hồi sau sự kiện. Tất cả được thiết kế để tiết kiệm thời gian và công sức, giúp bạn tập trung vào những phần quan trọng của sự kiện.</p>
    </div>
</div>

<div class="intro-section d-flex align-items-center" style="padding: 20px;">
    <div class="intro-text ms-4" style="text-align: justify; margin-right: 20px;">
        <p>Với EVENTHUB, việc tổ chức hội thảo trực tuyến trở nên dễ dàng hơn bao giờ hết. Bạn có thể kết nối với người tham gia, quản lý các phiên thảo luận và buổi chia sẻ trực tuyến một cách hiệu quả, tạo không gian giao lưu học hỏi tuyệt vời cho tất cả mọi người.<br>
            Nền tảng của chúng tôi cung cấp các công cụ tương tác mạnh mẽ như chat nhóm, thảo luận trực tiếp, bảng khảo sát và feedback, giúp kết nối người tham gia và tạo ra những trải nghiệm không thể quên.</p>
    </div>
    <div class="intro-image">
        <img src="{% static 'img/event4.jpg' %}" alt="Thông tin" class="img-fluid">
    </div>
</div>

<div class="intro-section d-flex align-items-center" id="infor" style="padding: 20px;">
    <div class="intro-image">
        <img src="{% static 'img/event3.jpg' %}" alt="Giới thiệu" class="img-fluid">
    </div>
    <div class="intro-text ms-4 " style="text-align: justify; padding: 20px;">
        <p>Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn và đảm bảo giao dịch tài chính diễn ra an toàn. Đội ngũ hỗ trợ của chúng tôi luôn sẵn sàng giúp đỡ bạn trong suốt quá trình tổ chức sự kiện, giúp bạn an tâm hơn khi sử dụng nền tảng của chúng tôi.<br>
            Cảm ơn bạn đã quan tâm đến EVENTHUB. Với sự hỗ trợ từ bạn, chúng tôi cam kết không ngừng phát triển nền tảng để mang lại trải nghiệm tốt nhất. Hy vọng EVENTHUB sẽ trở thành đối tác tin cậy của bạn trong mọi sự kiện sắp tới.</p>
    </div>
</div>

<img src="{% static 'img/banner3.png' %}" style="width: 100%; height: 100%;">