{% extends "master.html" %}
{%load static%}

{% block title %}Đăng nhập{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
    <div class="bg-img">
        <form action="{% url 'login' %}" method="POST" class="container-login">
            <h1>EVENTHUB</h1>
            {% csrf_token %}
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Nhập Email" name="email" required>
            <label for="psw"><b>Mật khẩu</b></label>
            <input id="pw-input" type="password" placeholder="Nhập mật khẩu" name="password" required>
            <input type="checkbox" onclick="showPassword()"> Hiện mật khẩu
            <button type="submit" class="btn-login">Đăng nhập</button>
            <p style="text-align: center; margin-top: 10px;">
                Bạn chưa có tài khoản? 
                <a href={% url 'signup' %} style="text-decoration: none; color: grey;" name='signup'>Đăng ký</a>
            </p>
        </form>
    </div>

    {% if error_message %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                setTimeout(function() {
                    alert("{{ error_message }}");
                }, 100);
                history.replaceState({}, document.title, window.location.pathname);
            });
        </script>
    {% endif %}

    {% block footer %}{% endblock %}
{% endblock %}


