.dropdown {
    position: relative;
    z-index: 1500;
}

.dropdown-item:focus, .dropdown-item:active {
      background-color: #212529 !important;
      color: white;
}

#searchbar {
    padding-left: 20px;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(to bottom right, #866f6f, #eadddd);
    background-clip: text;
    color: transparent;
}

.navbar-brand:hover {
    background-image: linear-gradient(to bottom right, #866f6f, #eadddd);
    background-clip: text;
    color: transparent;
}




